<footer id="camp_footer" class="footer py-3 mt-auto">
    <div class="container">
        <span class="footer_text">CampNS &copy; 2022</span>
        <span class="footer_text">Want to remember your stay? Visit <a href="https://shopns.herokuapp.com/" target="_blank" rel='noreferrer'>ShopNS</a></span>
    </div>
</footer>